@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Práctica de Reingeniería de la Asignatura de Evolución y Matenimiento Software en la Escula Técnica Superior de Ingenieros en Sistemas Informáticos.</p>
