@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Práctica EMS</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Gestión de Profesores</h2>
        <img src="images/Captura.PNG" />
    </div>
    <div class="col-md-4">
        <h2>Gestión de Alumnos</h2>
        <img src="images/Captura2.PNG" />
    </div>
    <div class="col-md-4">
        <h2>Gestión de Evaluaciones</h2>
        <img src="images/captura3.PNG" />
    </div>
</div>